volumes:
  packages:
    labels:
      kompose.volume.size: '10Gi'
  dbdata:
    labels:
      kompose.volume.size: '1Gi'

services:
  evercran:
    image: "rhub/evercran:0.0.1"
    build:
      context: evercran
    environment:
      - PG_USER=postgres
      - PG_HOST=db
      - PG_PASS_FILE=/db-password
      - PORT=80
    depends_on:
      - db
    ports:
      - "80:80"
    volumes:
      - packages:/packages
    deploy:
      update_config:
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 0
        order: stop-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
    labels:
      - kompose.service.group=evercran
      - kompose.service.type=nodeport

  db:
    image: "rhub/evercran-db:0.0.1"
    build:
      context: db
    environment:
      - PGDATA=/var/lib/postgresql/data
      - POSTGRES_PASSWORD_FILE=/db-password
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql
    deploy:
      update_config:
        order: start-first
        failure_action: rollback
        delay: 10s
      rollback_config:
        parallelism: 0
        order: stop-first
      restart_policy:
        condition: any
        delay: 5s
        max_attempts: 3
        window: 120s
    labels:
      - kompose.service.group=evercran

  shell:
    image: "rhub/evercran-shell:0.0.2"
    build:
      context: shell
    command: /root/entrypoint.sh
    environment:
      - PG_USER=postgres
      - PG_HOST=db
      - PG_PASS_FILE=/db-password
    volumes:
      - packages:/packages
    deploy:
      restart_policy:
        condition: any
    labels:
      - kompose.service.group=evercran
